In [2]:
# import libraries
import pandas as pd
import requests
import gdown
import pyarrow
import os

In [11]:
url_train_series = "https://drive.google.com/uc?id=1NSH6SHec0YKPQMwxJ788XDXgmKWYWtDE"
gdown.download(url_train_series, 'train_series.parquet', quiet=False)

url_test_series = "https://drive.google.com/uc?id=12oy14ol_e4gYbtu_c-ntgCcnouymp5u9"
gdown.download(url_test_series, 'test_series.parquet', quiet=False)

url_train_events = "https://drive.google.com/uc?id=1SQ2cRXYDbO_RUHALJaFflsx5laU4Tvpj"
gdown.download(url_train_events, 'train_events.csv', quiet=False)

Downloading...
From (uriginal): https://drive.google.com/uc?id=1NSH6SHec0YKPQMwxJ788XDXgmKWYWtDE
From (redirected): https://drive.google.com/uc?id=1NSH6SHec0YKPQMwxJ788XDXgmKWYWtDE&confirm=t&uuid=d14db824-d9b4-41e3-8583-1f1b1d8e4afb
To: c:\Users\25435\Desktop\statistical learning\final_project\train_series.parquet
100%|██████████| 986M/986M [01:26<00:00, 11.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=12oy14ol_e4gYbtu_c-ntgCcnouymp5u9
To: c:\Users\25435\Desktop\statistical learning\final_project\test_series.parquet
100%|██████████| 4.58k/4.58k [00:00<00:00, 4.69MB/s]
Downloading...
From: https://drive.google.com/uc?id=1SQ2cRXYDbO_RUHALJaFflsx5laU4Tvpj
To: c:\Users\25435\Desktop\statistical learning\final_project\train_events.csv
100%|██████████| 635k/635k [00:00<00:00, 9.33MB/s]

'train_events.csv'

In [3]:
# Check if files exist in the current directory
files_to_check = ['train_series.parquet', 'test_series.parquet', 'train_events.csv']
for file in files_to_check:
    if os.path.exists(file):
        print(f"{file} exists in the current directory.")
    else:
        print(f"{file} does NOT exist in the current directory.")

train_series.parquet exists in the current directory.
test_series.parquet exists in the current directory.
train_events.csv exists in the current directory.

In [4]:
df_train_series = pd.read_parquet('train_series.parquet')
df_test_series = pd.read_parquet('test_series.parquet')
df_train_events = pd.read_csv('train_events.csv')

In [ ]:
'''
# Load the given data
df_train_events = pd.read_parquet('/kaggle/input/child-mind-institute-sleep-detection-datasets/trn_events.parquet')
df_test_series = pd.read_parquet('/kaggle/input/child-mind-institute-sleep-detection-datasets/trn_series.parquet')
# df_sample_submission = pd.read_csv('/kaggle/input/child-mind-institute-detect-sleep-states/sample_submission.csv')
df_train_events = pd.read_parquet('/kaggle/input/child-mind-institute-sleep-detection-datasets/tst_series.parquet')
'''

# 1. data preprocessing

In [15]:
df_train_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127946340 entries, 0 to 127946339
Data columns (total 5 columns):
 #   Column     Dtype
---  ------     -----
 0   series_id  object
 1   step       uint32
 2   timestamp  object
 3   anglez     float32
 4   enmo       float32
dtypes: float32(2), object(2), uint32(1)
memory usage: 3.3+ GB

In [16]:
df_test_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   series_id  450 non-null    object
 1   step       450 non-null    uint32
 2   timestamp  450 non-null    object
 3   anglez     450 non-null    float32
 4   enmo       450 non-null    float32
dtypes: float32(2), object(2), uint32(1)
memory usage: 12.4+ KB

In [17]:
df_train_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14508 entries, 0 to 14507
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   series_id  14508 non-null  object
 1   night      14508 non-null  int64
 2   event      14508 non-null  object
 3   step       9585 non-null   float64
 4   timestamp  9585 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 566.8+ KB

In [18]:
df_train_series.describe()

               step        anglez          enmo
count  1.279463e+08  1.279463e+08  1.279463e+08
mean   2.548048e+05 -8.206276e+00  2.815504e-02
std    1.778930e+05  3.015709e+01  9.743801e-02
min    0.000000e+00 -9.000000e+01  0.000000e+00
25%    1.158120e+05 -3.185890e+01  1.300000e-03
50%    2.345190e+05 -9.597900e+00  1.720000e-02
75%    3.571960e+05  1.130020e+01  4.370000e-02
max    1.433879e+06  9.000000e+01  1.143370e+01

In [19]:
df_test_series.describe()

           step      anglez        enmo
count  450.0000  450.000000  450.000000
mean    74.5000  -56.177784    0.030276
std     43.3485   39.331982    0.067950
min      0.0000  -88.367996    0.000000
25%     37.0000  -88.216599    0.000000
50%     74.5000  -79.989449    0.013300
75%    112.0000  -29.100624    0.035250
max    149.0000   68.460503    0.980200

In [20]:
df_train_events.describe()

              night           step
count  14508.000000    9585.000000
mean      15.120072  214352.123944
std       10.286758  141268.408192
min        1.000000     936.000000
25%        7.000000   95436.000000
50%       14.000000  200604.000000
75%       21.000000  317520.000000
max       84.000000  739392.000000

In [21]:
df_test_series.head()

      series_id  step                 timestamp  anglez    enmo
0  038441c925bb     0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb     1  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb     2  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb     3  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb     4  2018-08-14T15:30:20-0400  2.6368  0.0215

In [1]:
df_train_events.head()

NameError: name 'df_train_events' is not defined

In [23]:
df_train_series.head()

      series_id  step                 timestamp  anglez    enmo
0  038441c925bb     0  2018-08-14T15:30:00-0400  2.6367  0.0217
1  038441c925bb     1  2018-08-14T15:30:05-0400  2.6368  0.0215
2  038441c925bb     2  2018-08-14T15:30:10-0400  2.6370  0.0216
3  038441c925bb     3  2018-08-14T15:30:15-0400  2.6368  0.0213
4  038441c925bb     4  2018-08-14T15:30:20-0400  2.6368  0.0215

In [24]:
# check for null values
df_train_series.isnull().sum()

series_id    0
step         0
timestamp    0
anglez       0
enmo         0
dtype: int64

In [25]:
df_test_series.isnull().sum()

series_id    0
step         0
timestamp    0
anglez       0
enmo         0
dtype: int64

In [26]:
df_train_events.isnull().sum()

series_id       0
night           0
event           0
step         4923
timestamp    4923
dtype: int64